/* Section Activity
------------------------------*/

.activity {
  @extend %section;
  background-color: rgba(63, 63, 63, .85);
  color: #ffffff;

  &__heading {
    @extend %section__heading;
  }

  &__heading-inner {
    @extend %section__heading-inner;
    border-bottom-color: theme-color("primary-light");
    border-bottom-style: dotted;
    color: theme-color("primary-light");
  }
}
