/* Section Feature
------------------------------*/

.feature {
  position: relative;
  height: 100%;
  min-height: 576px;
  @extend %section;
  overflow: hidden;

  &__cover {
    @include cover-image(url("./images/main_03_r.jpg"));
    opacity: .7;
  }
}
