/* Section Team
------------------------------*/

.team {
  @extend %section;
  background-color: $body-bg;

  &__heading {
    @extend %section__heading;
  }

  &__heading-inner {
    @extend %section__heading-inner;
  }
}

.members {
  @include container();

  &__member {
    @include row();
    margin-bottom: 1rem;
  }

  &__image {
    @include col("lg", 4);

    a:hover img {
      opacity: .7;
    }
  }

  &__textbox {
    @include col("lg", 8); // Match the width of the "md" size
  }

  &__textbox-inner {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #ffffff;
  }

  &__content {
    padding: .5rem 1.5rem;
    text-align: left;
  }

  &__name {
    display: inline-block;
    margin: .5rem 0;
    font-size: 1.2rem;
    line-height: 1.25; // Make 2.5rem height by margin, font-size and line-height
    vertical-align: bottom;
  }

  &__intro {
    display: block;
    margin-top: .75rem;
    margin-bottom: .75rem; // Match the inner top with the margin
    text-align: justify;
  }
}
