/* Section Works
------------------------------*/

.works {
  @extend %section;

  &__heading {
    @extend %section__heading;
  }

  &__detail {
    display: inline-block;
    margin: 3rem auto;
    text-align: center;
    text-decoration: underline;
  }
}
