// Common

// Grid

.container {
  @include container();
}

.row {
  @include row();
}

.secondary-col,
.tertiary-col {
  h2 {
    margin-bottom: .5rem;
    font-size: 1rem;
  }
}

// Heading

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
}

h1 {
  font-size: 2rem;
}

h2:not(.front-sec-heading) {
  margin-bottom: 1rem;
  border-bottom: 1px dotted $body-color;
  font-size: 1.5rem;
}

h3 {
  position: relative;
  padding-left: 2rem;
  font-size: 1.25rem;

  &::before {
    content: '';
    position: absolute;
    top: .375rem;
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: radial-gradient(hsl(0, 85%, 92.5%), hsl(0, 85%, 70%));
  }
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-weight: bold;
}

h6 {
  font-weight: bolder;
}

h3, h4, h5, h6 {
  margin-top: 2rem;
  margin-bottom: 1rem; 
}

.table {
  margin: 1rem auto;
  text-align: center;

  td {      
    &:first-child {
      text-align: left;
    }
  }
}

// Image clip

.img-clip {
  @include image-clip();
}

.img-clip-inner {
  @include image-clip-inner();
}

// Table

.table {
  @include table();
}

// Buttons

.btn-contact {
  @include button("lg", "primary-dark");
  display: block;
  width: 18rem;
  margin: 6rem auto;
  padding-left: 3rem;
  padding-right: 3rem;
}

// Accessibility

.screen-reader-text {
  position: absolute !important;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}
