// Front - News

#front-news {
  @include background("dark");

  .news {
    margin-bottom: 1rem;
  }

  .featured-image {
    @include col("lg", 4);

    img {
      border: 4px solid gray(850);
      object-fit: cover;

      @media (min-width: breakpoint("lg")) {
        width: 18rem;
        height: 11.25rem; // 18rem * 10 / 16
      }
    }

    a:hover img {
      border: 4px solid theme-color();
    }
  }

  .news-intro {
    @include col("lg", 8);
  }

  .news-intro-inner {
    height: 100%;
    margin: 0 auto;
    padding: 1rem 2rem;
    @include background("light");
    text-align: left;
  }

  .news-intro-date {
    font-size: $small-font-size;
    line-height: 1.25rem;
  }

  .news-intro-heading {
    display: inline-block;
    margin: .75rem 0;
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    font-size: 1.25rem;
    line-height: 1.5rem;
    vertical-align: bottom;
  }

  .news-intro-terms {
    display: none;
    @include list-unstyled();
    vertical-align: bottom;

    li {
      display: inline-block;
    }

    a {
      @include button("sm", "light");
      font-size: $small-font-size;
      margin: .5rem 0;
    }

    @media (min-width: breakpoint("lg")) {
      display: inline-block;
    }
  }

  .news-intro-text {
    display: block;
    text-align: justify;
  }
}
