// Front - Feature, Feature main

#front-feature,
#feature,
#archive-feature {
  .feature {
    margin-bottom: 1rem;
    text-align: center;

    a {
      text-decoration: none;

      &:not(:hover) .feature-wrap {
        opacity: .85;
      }
    }
  }
  
  .feature-wrap {
    padding: .5rem;
  }

  .feature-inner {
    display: flex;
    padding: .5rem 0;
    border-width: 1px;
    border-style: solid;
    align-items: center;
  }

  .feature-intro {
    @include col("sm", 0);
  }

  .feature-image {
    @include col("sm", "auto");

    img {
      width: 9rem;

      @media (min-width: breakpoint("lg")) {
        width: 12rem;
      }
    }
  }

  .feature-intro-heading {
    font-size: 1.5rem;
  }

  .feature-intro-text {
    display: none;
    font-size: 1rem;
    text-align: center;

    @media (min-width: breakpoint("lg")) {
      display: block;
    }
  }

  .feature-intro-heading, .feature-intro-text {
    margin-bottom: .5rem;

    @media (min-width: breakpoint("lg")) {
      margin-bottom: 1rem;
    }
  }

  @media (min-width: breakpoint("lg")) {
    .feature {
      width: 85%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
