// Front - About

#front-concept,
#front-exp,
#front-profile {
  .concept {
    padding: 1.5rem 1rem;
    align-items: center;
  }

  .featured-image,
  .concept-intro {
    @include col("lg", 6);
    margin-bottom: 2rem;
  }

  .concept-intro-text {
    margin-bottom: 2rem;
    padding: 0 1rem;
    text-align: justify;
  }

  .concept-intro-btn {
    @include button("lg");
  }
}
