// Header

#hero {
  @include cover-unit();
}

#hero-content {
  @include cover-section();
}

#site-title {
  display: inline-block;
  max-width: 36rem;
  margin-top: -3rem;
  font-size: 3rem;
  letter-spacing: .08rem;
}

#site-header {
  @include sticky-top();
}

#page-header {
  text-align: center;
}

#page-title {
  margin: 3rem 0;
  font-size: 2rem;
}
