// Navigation

#brand-home {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1.5rem;

  img {
    width: auto;
    height: 4.5rem;
    filter: brightness(75%);

    @media(min-width: breakpoint("lg")) {
      height: 6rem;
      margin-top: -.75rem; // Close the header gap on desktop
    }
  }
}

#menu-toggler {
  position: fixed;
  top: 0;
  right: 0;
  height: 3rem;
  margin: .75rem;
  padding: 0;
  border: 0;
  background-color: transparent;
  color: $body-color;
  line-height: 1;
  outline: 0;
  cursor: pointer;

  &:hover {
    color: $link-hover-color;
  }
}

#navigation {
  margin-bottom: 3rem;

  .navigation-brand {
    height: 3rem;
    padding-left: 1rem;
    line-height: 3rem;

    img {
      margin-top: -1.5rem;
      margin-left: -1rem;
    }
  }

  .navigation-menu {
    margin: 0;
    padding-left: 1rem;
    list-style: none;

    li {
      height: 2rem;
      line-height: 2rem;
    }
  }

  .navigation-brand,
  .navigation-menu li {
    vertical-align: middle;
    text-transform: capitalize;

    a {
      color: #ffffff;

      &:hover {
        color: $link-hover-color;
      }
    }

    img {
      width: 5rem;
      max-width: auto;
      max-width: initial;
      height: 4rem;
      filter: brightness(200%);
    }
  }

  @media(min-width: breakpoint("lg")) {
    #navigation-bar > div,
    .navigation-menu {
      display: inline-block;
      padding: 0;
    }

    .navigation-brand,
    .navigation-menu li {
      display: inline-block;
      height: 3rem;
      margin: 0 1rem;
      line-height: 3rem;
    }
  }
}
