// Page main

.page-sec {
  @include row();
  margin-top: 3rem;
  margin-bottom: 3rem;
  justify-content: space-around;
  align-items: center;

  .primary-col {
    @include col("lg", 7);
    order: 1;

    &:only-child {
      @include col("lg", 8);
      order: 1;
    }
  }

  .secondary-col {
    @include col("lg", 5);
    order: 2;
    text-align: center;
  }
}
