// Page main

.page-sec {
  @include row();
  margin: 3rem 0;
  justify-content: space-around;

  .primary-col {
    @include col("lg", 6);
    order: 2;
  }

  .secondary-col {
    @include col("lg", 5);
    order: 1;
    text-align: center;
  }

  @media (min-width: breakpoint("lg")) {
    &:nth-child(even) {
      .primary-col {
        order: 1;
      }

      .secondary-col {
        order: 2;
      }
    }
  }
}
