// Post main

#post,
#photo,
#archive,
#archive-photo {
  .row {
    justify-content: space-between;
  }

  .primary-col {
    @include col("lg", 8);
  }
  
  .secondary-col {
    @include col("lg", 3);
  }
  
  .post {
    margin-bottom: 6rem;
  }

  .post-date {
    margin-bottom: 1rem;
  }

  .post-title {
    font-size: 1.5rem;
  }

  .featured-image {
    img {
      border: 4px solid gray(850);
      text-align: center;
    }

    a:hover img {
      border: 4px solid theme-color();
    }
  }

  .post-title, .featured-image, .post-content {
    margin-bottom: 2rem;
  }
}
