/* Layout Header nav
------------------------------*/

.brand-home {
  position: fixed;
  top: 0;
  left: 0;
  margin: 1.5rem;

  img {
    width: auto;
    height: 4.5rem;
    filter: brightness(75%);

    @media(min-width: breakpoint("lg")) {
      height: 6rem;
      margin-top: -.75rem; // Close the header gap on desktop
    }
  }
}

.menu-toggler {
  position: fixed;
  top: 0;
  right: 0;
  height: 3rem;
  margin: .75rem;
  padding: 0;
  border: 0;
  background-color: transparent;
  color: $body-color;
  line-height: 1;
  outline: 0;
  cursor: pointer;

  &:hover {
    color: $link-hover-color;
  }
}
