/* Layout Main
------------------------------*/

%section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

%section__heading {
  @include container();
  margin-top: 0;
  margin-bottom: 3rem;
  padding-left: .75rem;
  border-bottom: 1px dotted $body-color;
  font-weight: 500;
  font-size: 1.25rem;
  text-align: left;
  line-height: 1;
  text-transform: capitalize;
}

.main {
  padding-bottom: 6rem;

  p a {
    text-decoration: underline;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: 2rem;
    text-align: center;
  }

  &__container {
    @include container();
  }

  &__inner {
    @include row();
    justify-content: space-around;
  }

  &__primary {
    @include col("lg", 8);
    max-width: 40rem;
    
    @media (min-width: breakpoint("lg")) {
      max-width: 40rem;
    }
  }

  &__secondary {
    @include col("lg", 3);
    max-width: 15rem;
    
    @media (min-width: breakpoint("lg")) {
      max-width: 15rem;
    }
  }

  &--works {
    @include row();
  
    &__primary {
      @include col();
      order: 1;
      
      @media (min-width: breakpoint("lg")) {
        order: 2;
      }
    }
  
    &__secondary {
      @include col();
      order: 2;
      
      @media (min-width: breakpoint("lg")) {
        order: 1;
      }
    }
  
    &__tertiary {
      @include col();
      order: 3;
    }
  }  
}
