/* Component Info
------------------------------*/

.info {
  @include container();
  padding: 3rem;
  border: 6px dashed theme-color("primary-light");

  &__item {
    margin-bottom: 1rem;
    text-align: left;
  }

  &__date {
    margin-right: 1rem;
  }
}
