// Variables

// Root
$root-font-size: 18px;
$root-font-size-breakpoint: 576px;

// Grid system
$grid-columns: 12;
$grid-gutter-width: 1rem;

// Breakpoints
$grid-breakpoints: (
  md: 768px,
  lg: 1152px
);

// Container max widths
$container-max-widths: (
  md: 40rem,
  lg: 60rem
);

// Theme color
$key-color: hsla(0, 85%, 70%, .7);
$theme-colors: (
  primary:       $key-color,
  primary-light: hsla(0, 85%, 70%, .5),
  primary-dark:  hsla(0, 85%, 70%, 1),
  light:         hsla(0, 0%, 100%, .7),
  dark:          hsla(0, 0%, 15%, .7)
);

$body-bg:    #ffffff;
$body-color: lighten(#000000, 15%);

$link-color:            lighten(#000000, 30%);;
$link-decoration:       none;
$link-hover-color:      map-get($theme-colors, "primary-dark");
$link-hover-decoration: underline;

// Theme Fonts
$font-family-sans-serif: "Noto Sans JP", sans-serif;
//$font-family-serif:      "Noto Serif JP", serif;
$font-weight-sans-serif: 400;
//$font-weight-serif:      400;

$font-family-base:    $font-family-sans-serif;
$font-weight-base:    300;
$font-size-base:      1rem;
$text-align-base:     justify;
$line-height-base:    1.75;
$letter-spacing-base: 0;

$heading-font-family: $font-family-sans-serif;
$heading-font-weight: 400;

$small-font-size:     87.5%;
$small-line-height:   1.85;
